BEGIN TRANSACTION;
INSERT INTO riders(id, full_name, nation)
VALUES('ballerstedt-maurice-41591c6e35a6','BALLERSTEDT Maurice','Allemagne')
ON CONFLICT(id) DO UPDATE SET
  full_name=excluded.full_name,
  nation=excluded.nation;
INSERT INTO riders(id, full_name, nation)
VALUES('bayer-tobias-98d0f3b7e0ef','BAYER Tobias','Autriche')
ON CONFLICT(id) DO UPDATE SET
  full_name=excluded.full_name,
  nation=excluded.nation;
INSERT INTO riders(id, full_name, nation)
VALUES('belmans-lennert-e072db19f527','BELMANS Lennert','Belgique')
ON CONFLICT(id) DO UPDATE SET
  full_name=excluded.full_name,
  nation=excluded.nation;
COMMIT;
BEGIN TRANSACTION;
COMMIT;
